extends layouts/base

block content
	include blocks/header
	include blocks/block1
	include blocks/block2
	include blocks/block3
	include blocks/block4
	include blocks/block5
	include blocks/block6
	include blocks/block7
	include blocks/block8
	include blocks/block9
	include blocks/footer