section.section.section--block-3
	.grid.grid--container
		h2 О компании
		p.section--block-3__subhead.
			Имущественный комплекс «Калибр» — это современный многофункциональный деловой центр, включающий в себя Бизнес центр и Технопарк.
		.section--block-3__box
			.row
				.col.col--xs-12.col--lg-4
					h3 Инфраструктура
					p.
						Инфраструктура включает в себя вместительный конференц-зал на 100 человек, просторный коворкинг с переговорными комнатами, корпоративные кафе с демократичными ценами, банкоматы, платежные терминалы, универсальную спортивную площадку.
				.col.col--xs-12.col--lg-4
					h3 Помещения
					p.
						Вниманию арендаторов Бизнес центра и резидентов Технопарка предлагается широкий выбор площадей различного функционального назначения: офисных, складских, производственных, выставочных, студийных, лабораторных, опытно-конструкторских помещений.
				.col.col--xs-12.col--lg-4
					h3 Адаптация под ваши требования
					p.
						В зависимости от требований, предъявляемых к помещениям, они могут быть адаптированы под различные типы объемно-планировочных решений. При этом мы не просто занимаемся подготовкой и оборудованием помещений, а создаем уникальные рабочие пространства под каждого клиента.