section.section.section--block-5
	.grid.grid--container
		.row
			.col.col--xs-12.col--lg-6
				h2 Характеристики
				table.chr-table
					tr
						td Площадь участка, Га
						td 1,0246
					tr
						td Площадь застройки, м2
						td 3 580
					tr
						td Площадь подземной автостоянки, м2
						td 9 640
					tr
						td Площадь озеленения, м2
						td 1 240
					tr
						td Общая площадь, м2
						td 37 100
					tr
						td Этажность надземной части здания
						td 8+1 технический
					tr
						td Этажность подземной части здания
						td 2
					tr
						td Количество машиномест, шт.
						td 277
					tr
						td В том числе в подземной автостоянке, шт
						td 237
			.col.col--xs-12.col--lg-6
				img(src="images/img-4.jpg", srcset="images/img-4@2x.jpg 2x, images/img-4@3x.jpg 3x")