section.section.section--block-8
	.grid.grid--container
		h2 Проект входных групп
		.section--block-8__slider
			.section--block-8__slider-item
				img(src="images/slide1.jpg", alt="")
				h3 Центральная входная группа на первом этаже
			.section--block-8__slider-item
				img(src="images/slide2.jpg", alt="")
				h3 Центральная входная группа на первом этаже
			.section--block-8__slider-item
				img(src="images/slide3.jpg", alt="")
				h3 Центральная входная группа на первом этаже
			.section--block-8__slider-item
				img(src="images/slide4.jpg", alt="")
				h3 Центральная входная группа на первом этаже
			.section--block-8__slider-item
				img(src="images/slide5.jpg", alt="")
				h3 Центральная входная группа на первом этаже