section.section.section--block-6
	.grid.grid--container
		.row
			.col.col--xs-12.col--lg-8
				.section--block-6__box
					img(src="images/preview.jpg", srcset="images/preview@2x.jpg 2x, images/preview@3x.jpg 3x")
			.col.col--xs-12.col--lg-4
				h2 Общий вид здания
				p.
					Помещения сдаются с отделкой по стандартам арендодателя или без отделки, с предоставлением арендных каникул и частичной компенсацией затрат арендатору