section.section.section--block-2
	.grid.grid--container
		h2 Расположение
		p.section--block-2__subhead.
			Инфраструктурный объект «Калибр-Парк» расположен на северо-востоке Москвы, имеет удобную пешеходную и транспортную доступность
		.section--block-2__box
			.row
				.col.col--xs-12.col--md-6
					.section--block-2__map
				.col.col--xs-12.col--md-6
					.section--block-2__box-content
						p.
							Многофункциональный деловой центр "КАЛИБР" предлагает удобное рабочее пространство в Останкинском районе СВАО г. Москвы. В непосредственной близости станции метро, ж/д станций, основных городских автомагистралей
					.section--block-2__box-list
						.section--block-2__box-row
							span 1
							span 0,5 км до станции метро Алексеевская
							span
								span 5 минут
								span пешком
		img(src="images/3.jpg", srcset="images/3@2x.jpg 2x, images/3@3x.jpg 3x")