section.section.section--block-8
	.grid.grid--container
		.section--block-8__head
			h2 Проект входных групп
		.section--block-8__sliderNav-outer
			.section--block-8__sliderNav
				.section--block-8__sliderNav-item
					img(src="images/thumb-1.png", alt="")
				.section--block-8__sliderNav-item
					img(src="images/thumb-2.png", alt="")
				.section--block-8__sliderNav-item
					img(src="images/thumb-3.png", alt="")
				.section--block-8__sliderNav-item
					img(src="images/thumb-4.png", alt="")
				.section--block-8__sliderNav-item
					img(src="images/thumb-4.png", alt="")
		.section--block-8__slider
			.section--block-8__slider-item
				.row.row--lg-center
					.col.col--xs-12.col--xl-8
						.section--block-8__imgHolder
							img(src="images/slide1.jpg", alt="")
					.col.col--xs-12.col--xl-4
						.section--block-8__sliderHead
							h3 Центральная входная группа на первом этаже
			.section--block-8__slider-item
				.row.row--lg-center
					.col.col--xs-12.col--xl-8
						.section--block-8__imgHolder
							img(src="images/slide1.jpg", alt="")
					.col.col--xs-12.col--xl-4
						.section--block-8__sliderHead
							h3 Центральная входная группа на втором этаже
			.section--block-8__slider-item
				.row.row--lg-center
					.col.col--xs-12.col--xl-8
						.section--block-8__imgHolder
							img(src="images/slide1.jpg", alt="")
					.col.col--xs-12.col--xl-4
						.section--block-8__sliderHead
							h3 Центральная входная группа на третьем этаже
			.section--block-8__slider-item
				.row.row--lg-center
					.col.col--xs-12.col--xl-8
						.section--block-8__imgHolder
							img(src="images/slide1.jpg", alt="")
					.col.col--xs-12.col--xl-4
						.section--block-8__sliderHead
							h3 Центральная входная группа на четвертом этаже
			.section--block-8__slider-item
				.row.row--lg-center
					.col.col--xs-12.col--xl-8
						.section--block-8__imgHolder
							img(src="images/slide1.jpg", alt="")
					.col.col--xs-12.col--xl-4
						.section--block-8__sliderHead
							h3 Центральная входная группа на пятом этаже