section.section.section--block-2
	.grid.grid--container
		h2 Расположение
		p.section--block-2__subhead.
			Инфраструктурный объект «Калибр-Парк» расположен на северо-востоке Москвы, имеет удобную пешеходную и транспортную доступность
		.section--block-2__box
			.row.row--no-gutters
				.col.col--xs-12.col--md-6.col--no-gutters
					.section--block-2__map
						img(src="images/map.jpg", alt="")
				.col.col--xs-12.col--md-6.col--no-gutters
					.section--block-2__box-content
						p.
							Многофункциональный деловой центр "КАЛИБР" предлагает удобное рабочее пространство в Останкинском районе СВАО г. Москвы. В непосредственной близости станции метро, ж/д станций, основных городских автомагистралей
					.section--block-2__box-list
						.section--block-2__box-row
							span 01
							span 0,5 км до станции метро Алексеевская
							span
								span 5 минут
								span пешком
						.section--block-2__box-row
							span 02
							span 0,5 км до Проспекта Мира
							span
								span 1 минута
								span пешком
			img(src="images/place-img.jpg", srcset="images/place-img@2x.jpg 2x, images/place-img@3x.jpg 3x", class="img-responsive")