section.section.section--block-4
	.grid.grid--container
		.row
			.col.col--xs-12.col--xl-4
				h2 О проекте
				p.
					«Калибр-Парк» - это уникальное пространство для бизнеса, где функциональность, современные технологии и сервисы сочетаются с качеством архитектурных решений, а респектабельная атмосфера соответствует высокому статусу делового центра и Технопарка «Калибр».
				p.
					«Калибр-Парк» сочетает в себе лучшие традиции формата делового квартала: отличная транспортная доступность, просторная территория и высококачественные офисы, объединенные развитой инфраструктурой.
			.col.col--xs-12.col--xl-8
				.section--block-4__box
					h3 Особенности
					ul
						li Приточно-вытяжная вентиляция 
						li Центральное кондиционирование 
						li Система диспетчеризации 
						li Лифты пассажирские скоростные и лифты грузовые 
						li Интернет
						li IP-телефония 
						li Пожарная и охранная сигнализация 
						li Круглосуточное видеонаблюдение
						li Системы СКД на этажах
						li Охрана периметра и входа в здание 
						li Услуги собственной управляющей компании 
						li Корпоративное кафе и стильная кофейня 
						li Подземная и наземная парковки
