section.section.section--block-9
	.grid.grid--container
		h2.
			Будем рады ответить на ваши вопросы!
		.section--block-9__box
			.section--block-9__boxImg
				img(src="images/avatar.png", alt="")
			.section--block-9__boxName
				p Петров А.В. 
				p Коммерческий директор ОАО «Калибр» 
				p.box__contact +7 (495) 956-25-89, +7 (905) 562-58-24
				p.box__contact a.v.petrov@kalibroao.ru
			.section--block-9__boxPart
				p Отдел аренды ОАО «Калибр» 
				p.box__contact +7 (495) 730-09-59
				p.box__contact renta@kalibroao.ru