<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="initial-scale=1, width=device-width",  id="viewport-meta")
		title Калибр
		link(rel="stylesheet", href="http://www.kalibroao.ru/sites/all/themes/kalibr2/css/main.css?p3uaqu")
		link(rel="stylesheet", href="http://www.kalibroao.ru/sites/all/themes/kalibr2/css/colorbox.css?p3uaqu")
		link(rel="stylesheet", href="http://www.kalibroao.ru/sites/all/themes/kalibr2/js/fancybox/jquery.fancybox.css?p3uaqu")
		link(rel="stylesheet", href="http://www.kalibroao.ru/sites/all/themes/kalibr2/css/fonts.css?p3uaqu")
		link(rel="stylesheet", href="http://www.kalibroao.ru/sites/all/themes/kalibr2/css/template.css?p3uaqu")
		link(rel="stylesheet", href="http://www.kalibroao.ru/sites/all/themes/kalibr2/css/header-footer.css?p3uaqu")
		link(rel="stylesheet", href="csses/slick.css")
		link(rel="stylesheet", href="csses/slick-theme.css")
		link(rel="stylesheet", href="csses/style.css")
	body
		block content
			

		block scripts
			script(src="http://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
			script(src="scripts/slick.min.js")
			script('https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
			script(src="scripts/script.js")