@import 'nib';
@import 'flexbox-grid-stylus/src/flexbox-grid.styl';
@import 'vars';
@import 'fonts';
normalize-css()
// custom flexbox-grid-stylus container
.grid--container {
	max-width 1520px
}

//colors

$denim-50 = rgba(59, 75, 123, 0.5)
$pinkish-red = #ed2a48
$pale-grey = #f0f1f3
$white-six-50 = rgba(255, 255, 255, 0.5)
$blue-grey = #838ca5
$denim = #3b4b7b
$pinkish-red-two = #ed2a47
$denim--30 = rgba(59, 75, 123, 0.3)
$dark-indigo-20 = rgba(13, 37, 68, 0.2)
$bluey-grey = #a5abbd
$dark-indigo--40 = rgba(13, 37, 68, 0.4)
$dark-grey-blue = #2f3354
$light-blue-grey-three = #c9d5e9
$dusk = #4b5374
$blue-grey-two = #787da9
$dull-teal = #62a0a6
$straw = #fcf47a
$straw-70 = rgba(252, 244, 122, 0.2)
$white-six-60 = rgba(255, 255, 255, 0.2)
$light-blue-grey-four = #ddd4ef
$very-light-pink = #ffd8d4
$midnight-blue-60 = rgba(6, 0, 69, 0.2)
$very-light-pink-60 = rgba(254, 216, 213, 0.2)
$beige-two = #f0e0d1
$pale-grey-two = #e9f3f4
$light-blue-grey-60 = rgba(221, 212, 238, 0.2)
$silver = #c5c8d3
$denim-60 = rgba(61, 78, 128, 0.6)
body
	background-color #f0f1f3
.content--xs-right
	display flex
	flex-direction column
	justify-content flex-start
	align-items flex-end
.img-responsive
	max-width 100%  
.section
	padding 95px 0
.section--block-1
	background url('../images/park-bg.jpg') 0 0 no-repeat
	color #fff
	padding-top 100px
	padding-bottom 60px
	background-size cover
	.btn
		display inline-block
	h2
		font-family bold
		font-size 50px
		line-height 60px
		font-family bold
		margin-top 0
	h1
		font-size 80px
		line-height 80px
		color #fff
		font-family bold
		text-transform none
	h1 + span
		font-size 30px
		line-height 60px
		letter-spacing 0.6px
		font-family bold
	.btns-group
		display flex
		align-items flex-start
		justify-content flex-start
		margin-top 120px
		.btn.btn--fill
			color #fff
			background-color $pinkish-red
			font-size 16px 
			text-align center
			line-height 25px
			padding 25px 30px
			margin-right 20px
		.btn--glass
			background-color transparent
			border solid 1px #fff
		.btn
			border-radius  3px
			display inline-block
			box-sizing border-box
			font-family bold
			height 70px
			max-width 245px
.section--block-1__days
	height 89px
	width 209px
	border 2px solid #fff
	border-radius 3px
	box-sizing border-box
	font-size 60px
	text-align center
	letter-spacing 28.8px
	display flex
	align-items stretch
	padding 1px
	justify-content space-between
	
	div
		text-align center
		line-height 89px
		display inline-block
		padding 0 10px
		flex 0 0 64px
		min-width 64px
		box-sizing border-box
		&:nth-child(2)
			border-left 2px solid #fff
			border-right 2px solid #fff
.section--block-1__days-descriptor
	clear both
	display inline-block
	font-size 20px
	opacity 0.5
	line-height 1.35
	text-align right
	letter-spacing normal
	margin-top 17px
	max-width 173px
	white-space pre-wrap
.section--block-2
	h2
		font-size 50px
		font-family bold
		color $denim-50
		line-height .96
		text-align center
		margin-top 0
		margin-bottom 50px
	.section--block-2__subhead
		color $denim
		font-family bold
		font-size 30px
		line-height 1.3
		text-align center
		max-width 1060px
		margin 0 auto
		margin-bottom 110px
.section--block-2__box-content
	padding-top 84px
	margin-left 70px
	
	p
		color $blue-grey
		font-size 20px
		line-height 28px
		margin-top 0
.section--block-2__box
	box-shadow 0px -10px 45px 0 rgba(13,37,68,0.1)
	padding 40px 40px 0
	background #fff
	.row
		box-shadow 0px 8px 10px -5px rgba(13,37,68,0.08)
.section--block-2__box-list
	margin-top 57px
	padding-top 33px
	margin-left 70px
	position relative
	&:before
		content ''
		absolute(top 0 left 0)
		width 77px
		height 3px
		background-color $pinkish-red-two
.section--block-2__box-row
	display flex
	justify-content space-between
	align-items flex-start
	margin-bottom 30px
	max-width 465px
	span
		&:first-child
			flex 1 2 auto
			font-size 25px
			line-height 80%
			color $denim--30
		&:nth-child(2)
			flex 2 3 50%
			color $denim
			font-size 20px
			line-height 1
		&:last-child
			flex 2 1 auto
			font-family bold
			span
				text-align right
				font-size 20px
				line-height 20px
				display block
				&:first-child
					color $pinkish-red-two
				&:last-child
					color $blue-grey
.section--block-2__map img
	height 100%
.section--block-2__map
	margin-bottom -5px
.row + img
	margin-top 30px     
.section--block-3
	background url('../images/about-bg.jpg') 0 0 no-repeat
.section--block-3, .section--block-3
	background-size cover
.section--block-7_tabs-content
	display none
.section--block-7_tabs-content.active
	display block
.section--block-3
	text-align center
	color #fff
	h2
		font-size 50px
		line-height 48px
		margin-bottom 40px
	h2 + p
		font-size 30px
		line-height 39px
		max-width 1090px
		margin 0 auto
.section--block-3__box
	margin-top 95px
	box-shadow 0px 30px 125px 0 $dark-indigo--40
	background-color: #FFF
	text-align left
	color $denim
	padding 40px
	position relative
	margin-bottom calc(-85px - 96px)
	p
		font-size 20px
		line-height 27px
		color $blue-grey
	h3
		font-family bold
		color denim
		font-size 20px
		line-height 27px
		margin-bottom 25px
.section--block-4
	padding-top 180px
	h2
		color $denim-50
		font-size 50px
		line-height 48px
	p
		color $denim
		font-size 20px
		line-height 28px
	h3
		color $denim
		font-size 24px
		line-height 27px
		font-family bold
		margin-left 70px
.section--block-4__box
	background #fff
	border 20px solid #fff
	box-shadow inset 0 0 0 5px $pale-grey
	padding 50px
	ul
		column-count 2
		column-gap(120px)
		margin 0
		padding 0
		margin-left 70px
		list-style none
		line-height 30px
		font-size 24px
		color $denim
		li
			max-width 440px
			position relative
			margin-bottom 15px
			&:before
				content ''
				absolute(left -38px top 10px)
				width 25px
				height 2px
				background $pinkish-red-two
.section.section--block-5
	padding-top 0
	h2
		padding-bottom 45px
		border-bottom 3px solid $pinkish-red-two
		font-size 50px
		line-height 48px
		color $denim-50
		margin-bottom 0
		
	table
		tr
			td
				border-top 1px solid $bluey-grey
				color $denim
				font-size 20px
				padding 12px 38px 3px 38px
				&:last-child
					font-family bold
					text-align right
		&:first-child
			td
				border-top 0
	img
		max-width 100%
		margin-top -50px
.section.section--block-6
	padding-top 20px
	padding-bottom 190px
	.section--block-6__box
		box-shadow 0px 30px 125px 0 $dark-indigo--40
		padding 20px
		img
			max-width 100%
	h2
		color $denim-50
		font-size 50px
		line-height 48px
		margin-bottom 35px
	p
		font-family bold
		font-size 30px
		line-height 39px
		color $denim
.section.section--block-7
	padding-top 90px
	padding-bottom 0px
	background-color $dark-grey-blue
	color #fff
	h2
		border-bottom 1px solid $dusk
		font-size 50px
		line-height 48px
		padding-bottom 30px
.section--block-7__tabsbox
	background-color: #fff
	padding 40px
	box-shadow 0px 30px 145px 0 rgba(0, 5, 38, 0.5)
	margin-left 105px
	margin-bottom -140px
.section--block-7_tabs-nav
	padding-left 0
	relative(left -20px)
	display flex
	justify-content space-between
	align-items center
	max-width 1005px
	margin-bottom 20px
	div
		display flex
	a
		width 61px
		height 61px
		border-radius 100%
		display inline-block
		border 1px solid $light-blue-grey-three
		margin-left 30px
		color $blue-grey-two
		font-size 20px
		text-align center
		line-height 61px
	a.active
		border-color $pinkish-red-two
		color #fff
	.stock
		color $blue-grey-two
		font-size 20px
		font-family bold
.section--block-7__legend
	margin-top 57px
	ul
		list-style none
		font-size 20px
		line-height 100%
		color $blue-grey-two
		padding-left 0
		margin-top 40px
		li
			position relative
			margin-bottom 30px
			padding-left 80px
			&:before
				content ''
				width 40px
				height 40px
				absolute(left 0 top -15px)
				border-radius 20px
		li.l-1
			&:before
				background-color $straw
				box-shadow 0px 15px 40px 0 $straw-70, inset 0px 1px 0 0 $white-six-60
		li.l-2
			&:before    
				background-color $light-blue-grey-four
				box-shadow 0px 15px 40px 0 $light-blue-grey-60, inset 0px 1px 0 0 $white-six-60
		li.l-3
			&:before
				background-color $very-light-pink
				box-shadow 0px 15px 40px 0 $midnight-blue-60, inset 0px 1px 0 0 $very-light-pink-60
		li.l-4
			&:before
				background-color $beige-two
				box-shadow 0px 15px 40px 0 $light-blue-grey-60, inset 0px 1px 0 0 $white-six-60
		li.l-5
			&:before
				background-color $beige-two
				box-shadow 0px 15px 40px 0 $light-blue-grey-60, inset 0px 1px 0 0 $white-six-60
		li.l-6
			&:before
				background-color rgba(255,255,255,0.6)
				box-shadow 0px 15px 40px 0 $light-blue-grey-60, inset 0px 1px 0 0 $white-six-60
		li.l-7
			&:before
				background-color rgba(255,255,255,0.6)
				box-shadow 0px 15px 40px 0 $light-blue-grey-60, inset 0px 1px 0 0 $white-six-60
		li.l-8
			&:before
				background-color $pale-grey-two
				box-shadow 0px 15px 40px 0 $light-blue-grey-60, inset 0px 1px 0 0 $white-six-60
	h3
		font-size 30px
		line-height 39px
		margin-top 0
.section--block-8
	.slick-list
		overflow initial
		
.section--block-8__slider
	height 151px
	background-color: #FFF		
.section--block-8__slider-item
	
	img
		width 90px
		height 75px
	h3
		display none
		font-family bold
		font-size 30px
		line-height 1.27
		color $denim
.section--block-8__slider-item.slick-current
	h3
		display block
	img
		width auto
		max-width 100%
		height auto
		absolute(top -207px)
	