@import 'nib';
@import 'vars';
@import 'fonts';
@import 'flexbox-grid-stylus/src/flexbox-grid.styl';
normalize-css()
// custom flexbox-grid-stylus container
.grid--container {
	max-width 980px
}